<div class="box">

	<center> <h3> <%= channel.name %> </h3> </center> 
	<% @pin = channel.pins.last %>
	
	<a href="/channels/<%= channel.id %>"><img width="270" height="158" src="<%= @pin.thumb_url %>" frameborder="0" ></img></a> 

	
   <p>
    <%= channel.description %>
   </p>
   <p>
   <%= link_to 'Show', channel %> |
   <%= link_to 'Edit', edit_channel_path(channel) %>
   <%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></p>
 