<div class="row">
	
		<div class="well">
				<p> <center> <h2> <%= @channel.name %> Channel</h2> </center> </p>
				<p>
				You are watching the <%= @channel.name %> channel for <%= @channel.description %>
				</p>
				<% if current_user == @channel.user %>
				<%= link_to 'Edit', edit_channel_path(@channel) %> |
				<% end %>
				<%= link_to 'View your Channels', channels_path %>
		</div>
		<div id="pins">
					  <%= render @channel.pins %> 
					</div> 
	
<div>
	
		
