<div class="row">
	<div class="span10 offset1">
		<div class="well">
				<p> <center> <h2> <%= @channel.name %> Channel</h2> </center> </p>
				<p>
				You are watching the <%= @channel.name %> channel for <%= @channel.description %>
				</p>

				<%= link_to 'Edit', edit_channel_path(@channel) %> |
				<%= link_to 'Back', channels_path %>
		</div>
		<div id="pins">
					  <%= render @channel.pins %> 
					</div> 
	</div>
<div>
	
		
