<div class="box">


<iframe width="280" height="158" src="http://www.youtube.com/embed/<%= pin.yt_video_id %>" frameborder="0" ></iframe>
	<p class="description">
		<%= pin.description %>
	</p>
	<p>
		<strong>
			  Posted by <%= pin.user.name %>
		</strong>
	</p>
	<p>
		<%= link_to 'Show', pin %>
		<% if current_user == pin.user %>
		<p>
			<%= link_to 'Edit', edit_pin_path(pin) %>
			<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
		<% end%>
</p>
	
</div>      