<div class="box">


<iframe width="280" height="158" src="http://www.youtube.com/embed/<%= pin.yt_video_id %>" frameborder="0" ></iframe>
	<p class="description">
		<%= pin.description %>
	</p>
	<p>
		<strong>
			  Posted by <%= pin.user.name %>
		</strong>
	</p>
	<p>
		
	<% if current_user && !current_user.voted_for?(pin) %>
   <%= link_to(image_tag('up.png'), vote_pin_path(pin, type: "up"), method: "post") %>
  
<% end %>
<%= pluralize pin.reputation_for(:votes).to_i, "like" %>
&nbsp <%= link_to(image_tag('comment.png', :alt => "Comment", :title => "Comments"), pin) %> 
		<% @pin = pin%>
		<%= @pin.comments.count %>
		<% if current_user == pin.user %>
		
&nbsp			<%= link_to(image_tag('edit.png', :alt => "Edit", :title => "Edit"), edit_pin_path(pin)) %>
&nbsp			<%= link_to(image_tag('delete.png' +"  ", :alt => "Delete", :title => "Delete"), pin, method: :delete, data: { confirm: 'Are you sure?' }) %>
&nbsp		<%= link_to(image_tag('show.png', :alt => "Show", :title => "Show"), pin) %>
		<% else %>
&nbsp		<%= link_to(image_tag('show.png', :alt => "Show", :title => "Show"), pin) %>
		<% end%>
</p>
	
</div>      