<div class="row">
	<div class="span8 offset2">
		<div class="well">
			<% if @pin.site_id == 1 %>
			<iframe width="98%" height="415" src="http://www.youtube.com/embed/<%= @pin.yt_video_id %>?autoplay=1" frameborder="0" ></iframe>
			<% else %>
				<% if @pin.site_id == 2 %>
					<iframe src="http://player.vimeo.com/video/<%= @pin.yt_video_id %>" width="98%" height="415" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<% else %>
					<iframe src="<%= @pin.yt_video_id %>" width="98%" height="415" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<% end %>
			<% end %>

<p>

  <%= @pin.description %>
</p>
<p>
  
  <%= @pin.user.name %>
</p>
		<% if current_user == @pin.user %>
		<%= link_to 'Edit', edit_pin_path(@pin) %> |
		<% end %>
		<%= link_to 'Back', pins_path %>
		<H4>Comments</H4>
		<div id="comments">
			<%= render :partial => @pin.comments %>
		</div>
		<%= simple_form_for [@pin, Comment.new]	do |f| %>
		<p>
			<!--<%= f.label :body, "New Comment" %></br>
			<%= f.text_area :body %> -->
			<%= f.input :body, :label => "New Comment", as: :text, input_html: { rows: "3" } %>
		</p>
		<p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
<% end %>	

		</div>
	</div>
</div>
